
{%extends 'snippet/blueprin-guru.html'%}
{%load static%}
{% load django_template_maths %}
{%block 'CustomHeadTop'%}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="{%static '/vendor/chart.js/dist/chart.js'%}"></script>
    <link href="{%static '/css/sidebar.css'%}" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" crossorigin="anonymous"></script>
{%endblock 'CustomHeadTop'%}
{%block 'Title'%}DashBoard Guru{%endblock 'Title'%}
{%block 'body'%}
<br><br>
<div class="container-fluid">
<h1 class="mt-4">Dashboard</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Dashboard</li>
</ol>
<div class="row">
    <div class="col-xl-3 col-md-6">
        <div class="card bg-primary text-white mb-4">
            <div class="card-body fw-bold" > <h3 > <i class="fas fa-user-graduate" ></i>  {{  jmlsiswa}} Siswa</h3></div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" href="#">View Details</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-warning text-white mb-4">
            <div class="card-body">{{jmlmapel}}</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" href="#">View Details</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-success text-white mb-4">
            <div class="card-body">Success Card</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" href="#">View Details</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6">
        <div class="card bg-danger text-white mb-4">
            <div class="card-body">Danger Card</div>
            <div class="card-footer d-flex align-items-center justify-content-between">
                <a class="small text-white stretched-link" href="#">View Details</a>
                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-list-alt"></i>
               Jadwal Hari {{hari}}
            </div>
            <div class="card-body">
                <!-- jadwal -->
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">No</th>
                    <th scope="col">Kelas</th>
                    <th scope="col">Mapel</th>
                    <th scope="col">Hari</th>
                    <th scope="col">Jam</th>
                    </tr>
                </thead>
                <tbody>
                    {%for jadwal in jadwalhariini%}
                    <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{jadwal.id_kelas }}</td>
                    <td>{{jadwal.id_mapel}}</td>
                    <td>{{jadwal.hari}}</td>
                    <td>{{jadwal.jam_pelajaran}}</td>
                    </tr>
                    {%endfor%}
                </tbody>
                </table> 
                
            </div>
        </div>
    </div>

</div>
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        Mata Pelajaran
    </div>
    <div class="accordion" id="accordionExample">
        {%for jadwal in jadwalmapel%}
        <div class="card ">
        <div class="card-header bg-white  d-flex justify-content-between align-items-center" id="heading{{forloop.counter}} " data-toggle="collapse" data-target="#collapse{{forloop.counter}}" aria-expanded="true" aria-controls="collapse{{forloop.counter}}">
                <span class=" fw-bold">{{jadwal.id_mapel}}  </span>
                <span class="badge badge-primary badge-pill bg-primary">
                {%for i in absensi%}
                {%if i.Mapel == jadwal.id_mapel%}
                {{jadwal.Jumlah_Pertemuan }}
                {%endif %}
                {%endfor%}

            </span>
        </div>
        <div id="collapse{{forloop.counter}}" class="collapse show" aria-labelledby="heading{{forloop.counter}}" data-parent="#accordionExample">
            <div class="card-body">
            Some placeholder content for the first accordion panel. This panel is shown by default, thanks to the <code>.show</code> class.
            </div>
        </div>
        </div>
        {%endfor%}
        <!-- <div class="card ">
            <div class="card-header bg-white  d-flex justify-content-between align-items-center" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                <span class=" fw-bold">MTK  </span>
                <span class="badge badge-primary badge-pill bg-primary">6</span>
            </div>
        
            <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                Some placeholder content for the first accordion panel. This panel is shown by default, thanks to the <code>.show</code> class.
            </div>
            </div>
        </div> -->
    </div>
</div>
</div>

                

               
                
                
                {%endblock 'body'%}
                {%block 'footer'%}
                    <div class="container-fluid">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2020</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                {%endblock 'footer'%}
            </div>


    <!-- Optional JavaScript; choose one of the two! -->
    {%block 'CustomHeadDown'%}
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script> -->
    <script src="/tool-kit.js"></script>
    <script src="{%static '/js/scripts.js'%}"></script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <!-- <script src="js/scripts.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script> -->
    <!-- <script src="assets/demo/chart-area-demo.js"></script>
    <!-- <script src="assets/demo/chart-bar-demo.js"></script> --> -->
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
    <script src="{%static '/js/datatables-demo.js'%}"></script>
    <!-- </div> -->
    {%endblock 'CustomHeadDown'%}
