
{%extends 'snippet/blueprin-guru.html'%}
{%load static%}
{%block 'CustomHeadTop'%}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="{%static '/vendor/chart.js/dist/chart.js'%}"></script>
    <link href="{%static '/css/sidebar.css'%}" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" crossorigin="anonymous"></script>
    <!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{%static 'vendor/table/bootstrap/css/bootstrap.min.css'%}">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{%static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css'%}">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{%static 'vendor/table/animate/animate.css'%}">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{%static 'vendor/table/select2/select2.min.css'%}">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{%static 'vendor/table/perfect-scrollbar/perfect-scrollbar.css'%}">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{%static 'css/table-util.css'%}">
        <link rel="stylesheet" type="text/css" href="{%static 'css/table-main.css'%}">
    <!--===============================================================================================-->
    
    {%endblock 'CustomHeadTop'%}
{%block 'Title'%}DashBoard Guru{%endblock 'Title'%}
{%block 'body'%}
                    <div class="container-fluid">
                        <h1 class="mt-4">Jadwal</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                            <li class="breadcrumb-item active">Jadwal</li>
                        </ol>
                        <div class="limiter">
                            <div class="container-table10">
                                <div class="wrap-table10">
                    
                                    <div class="table100 ver5 m-b-90">
                                        <div class="table80-head">
                                            <table>
                                                <thead>
                                                    <tr class="row100 head">
                                                        <th class="cell100 column1">Kelas</th>
                                                        <th class="cell100 column2">Mapel</th>
                                                        <th class="cell100 column3">Jam</th>
                                                        <th class="cell100 column4">Hari</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                    
                                        <div class="table100-body js-pscroll">
                                            <table>
                                                <tbody>
                                                    {%for jadwal in jadwalmapel%}
                                                    <tr class="row100 body">
                                                        <td class="cell100 column1">{{jadwal.id_kelas }}</td>
                                                        <td class="cell100 column2">{{jadwal.id_mapel}}</td>
                                                        <td class="cell100 column3">{{jadwal.jam_pelajaran}}</td>
                                                        <td class="cell100 column4">{{jadwal.hari}}</td>
                                                    </tr>
                                                    {%endfor%}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--===============================================================================================-->	
                            <script src="{%static 'vendor/table/jquery/jquery-3.2.1.min.js'%}"></script>
                        <!--===============================================================================================-->
                            <script src="{%static 'vendor/table/bootstrap/js/popper.js'%}"></script>
                            <script src="{%static 'vendor/table/bootstrap/js/bootstrap.min.js'%}"></script>
                        <!--===============================================================================================-->
                            <script src="{%static 'vendor/table/select2/select2.min.js'%}"></script>
                        <!--===============================================================================================-->
                            <script src="{%static 'vendor/table/perfect-scrollbar/perfect-scrollbar.min.js'%}"></script>
                            <script>
                                $('.js-pscroll').each(function(){
                                    var ps = new PerfectScrollbar(this);
                        
                                    $(window).on('resize', function(){
                                        ps.update();
                                    })
                                });
                                    
                                
                            </script>
                        <!--===============================================================================================-->
                            <script src="{%static 'js/table-main.js'%}"></script>
                        
                    {%endblock 'body'%}
                    {%block 'footer'%}
                    <div class="container-fluid">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2020</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                    {%endblock 'footer'%}
            </div>

    <!-- Optional JavaScript; choose one of the two! -->
    {%block 'CustomHeadDown'%}
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script> -->
    <script src="/tool-kit.js"></script>
    <script src="{%static '/js/scripts.js'%}"></script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <!-- <script src="js/scripts.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script> -->
    <!-- <script src="assets/demo/chart-area-demo.js"></script>
    <!-- <script src="assets/demo/chart-bar-demo.js"></script> --> -->
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
    <script src="{%static '/js/datatables-demo.js'%}"></script>
    <!-- </div> -->
    {%endblock 'CustomHeadDown'%}
